# fly.toml app configuration file generated for game-server-slllca on 2026-01-14T11:48:34Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'game-server-slllca'
primary_region = 'nrt'

[build]

[http_service]
internal_port = 3000
force_https = true
auto_start_machines = true
auto_stop_machines = false
min_machines_running = 1

[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 256
